---
import backgroundImage from "../images/bg-image.png";

interface Props {
  title: string;
}

const { title } = Astro.props;
const backgroundUrl = `url(${backgroundImage.src})`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global define:vars={{ backgroundUrl }}>
   html {
    background-color: #FDFDFD;
    background-image: var(--backgroundUrl);
    background-repeat: no-repeat;
    background-position: bottom center;
    min-height: 100%;
    height: auto;
  }
</style>
